* {
  box-sizing: border-box;
}
main {
  font-size: 18px;
  position: relative;
  border-radius: 10px;
  padding: 0 20px 80px;
  width: 92%;
  max-width: 1000px;
  margin: auto;
  top: 60px;
  min-height: 100vh;
}

iframe {
  width: 95% !important;
  height: 70vh !important;
  margin: 20px auto auto;
}

a,
a:visited {
  background-color: rgba(255, 229, 100, 0.3);
  color: inherit;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
}

a:hover {
  color: #ffe564;
}

.navbar{
  
}